:root {
  --white: oklab(100% 0 0);
  --grey-100: oklab(95.51% 0 0);
  --grey-150: oklab(89.75% 0 0);
  --grey-200: oklab(80.78% 0 0);
  --grey-300: oklab(70.31% 0 0);
  --grey-400: oklab(51.03% 0 0);
  --grey-450: oklab(44.95% 0 0);
  --grey-500: oklab(38.67% 0 0);
  --grey-600: oklab(32.1% 0 0);
  --grey-700: oklab(25.2% 0 0);

  --footer-height: 3rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;
  height: 100dvh;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  background: var(--white);
  color: var(--grey-300);
}

main {
  flex-grow: 1;
  overflow-x: auto;
  overflow-y: hidden;
}

.hGallery ul {
  height: 100%;
}

.hGallery li {
  margin-bottom: var(--footer-height);
}

.dustJacketText {
  box-shadow: 0 var(--footer-height) 0 0 var(--grey-700);
}

h1,
h1 a {
  font-family: "Crimson Text", serif;
  font-size: 40px;
  font-weight: 400;
  color: var(--grey-700);
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  font-family: "Josefin Sans";
  color: var(--grey-300);
  text-transform: uppercase;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  font-family: "Josefin Sans";
  color: var(--grey-300);
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 10px;
}

header hgroup {
  margin: 0;
  padding: 0.25em 0.6em 0 20px;
}

header h1,
header h2 {
  margin: 0;
  padding: 0;
  text-align: left;
}

header h2 {
  margin-top: -0.3em;
}

header nav {
  font-size: 20px;
  font-family: "Josefin Sans";
  text-transform: uppercase;
}

header nav ul {
  margin: 0 1em;
  padding: 0;
  display: flex;
}

header nav ul li,
header nav ul li a {
  color: var(--grey-300);
}

header nav ul li a:hover {
  text-decoration: underline;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.dotted-list > * {
  display: contents;
  white-space: nowrap;
}

.dotted-list > * + *::before {
  content: "·";
  margin: 0 1ex;
}

nav img {
  border: none;
  height: 1.9ex;
}

header nav a {
  vertical-align: middle;
}

.hGallery, .contact {
  display: -webkit-box;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

.hGallery li {
  padding: 0;
  margin: 0;
  z-index: 0;
}

.hGallery li > a {
  display: block;
}

main a:hover h2 {
  color: var(--grey-500);
}

.hGallery li div.img {
  height: 500px;
  height: 50vw;
  max-height: calc(100vh - 90px - 90px);
}

.hGallery li img,
.hGallery li iframe {
  display: block;
  height: 500px;
  height: 50vw;
  max-height: calc(100vh - 90px - 90px);
}

.hGallery li iframe {
  width: min(calc(50vw / 9 * 16), calc((100vh - 90px - 90px) / 9 * 16));
}

.hGallery li h2 {
  margin-left: 1ex;
}

.main-grid {
  --rows: 1;
  --cols: 6;
  --max-img-height: 50vw;

  display: grid;
  grid-template-columns: repeat(var(--cols), minmax(10px, 1fr));
  grid-template-rows: repeat(var(--rows), 1fr min-content);

  max-height: calc(var(--rows) * (var(--max-img-height) + 4em));
  height: calc(100% - var(--footer-height));
  width: 100%;

  margin: 0;
  padding: 0;
}

.main-grid > * {
  display: grid;
  grid-template-rows: subgrid;
  grid-area: span 2 / span 1;
}

.main-grid a {
  display: grid;
  grid-template-rows: 1fr min-content; /* compatability */
  grid-template-rows: subgrid;
  grid-row: 1 / 3;
}

.main-grid .img {
  max-height: var(--max-img-height);
}

.hGallery.fullTriple li {
  min-width: 33.34%;
  min-width: 33.3333vw;
}

.hGallery li.dustJacketText {
  background-color: var(--grey-700);
  width: 14em;
  min-width: 14em;
  white-space: normal;
  color: var(--grey-100);
  padding: 1.8ex 2.5ex;
  text-transform: none;
  font-family: "Josefin Sans";
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4em;
  height: calc(100vh - 100px - 2.5ex);
  position: relative;
  overflow-y: auto;
}

.hGallery li.dustJacketText h2 {
  margin-left: 0;
}

.hGallery li.dustJacketText h3 {
  font-size: 20px;
}

.hGallery .text {
  padding: 1em;
  text-align: center;
}

.hGallery .text * {
  color: var(--grey-150);
}

.hGallery .text h2 {
  margin-left: 0;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.wall li:first-child {
  position: absolute;
  right: 51vw;
}

.wall li:first-child img {
  box-shadow: 0 3px 25px var(--grey-400);
  margin: 25px;
}

.wall li:last-child {
  position: absolute;
  left: 51vw;
  display: flex;
  height: 50vw;
  max-height: calc(100vh - 90px - 90px);
}

.wallLabel {
  width: 30em;
  align-self: flex-end;
}

.wallLabel h3 {
  color: var(--grey-500);
}

.wallLabel p {
  color: var(--grey-400);
  font-size: 15px;
}

.contact {
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.contact .text {
  text-align: center;
  padding: 8em;
}

.contact img {
  height: 50vw;
  max-height: 70vh;
}

#ScrollArrow {
  position: fixed;
  right: 15px;
  bottom: 2.8em;
  width: 55px;
  z-index: 100;
  transition: 1s opacity;
  filter: drop-shadow(var(--white) 0 0 2px);

  animation-name: hint;
  animation-duration: 4s;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes hint {
  0% {
    right: 15px;
  }
  10% {
    right: 35px;
  }
  17% {
    right: 15px;
  }
}

#ScrollArrow[hide] {
  opacity: 0;
}

footer.copyright,
footer.options {
  position: fixed;
  bottom: 15px;
  height: auto;
  text-transform: uppercase;
  font-size: 12px;
}

footer.copyright {
  left: 9px;
}

footer.options {
  right: 15px;
  bottom: 18px;
  width: 20em;
  text-align: right;
}

.socialSharing {
  padding: 3px 22px 3px 1ex;
  background-image: url(share.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 18px auto;
  cursor: pointer;
}

.back {
  padding: 3px 1ex 3px 37px;
  background-image: url(left-arrow.svg);
  background-repeat: no-repeat;
  background-position: left 45%;
  background-size: 33px auto;
  cursor: pointer;
}

@media (max-width: 900px) {
  h1,
  h1 a {
    font-size: 32px;
  }

  h2 {
    font-size: 17.6px;
  }

  h3 {
    font-size: 16px;
  }

  header nav {
    font-size: 14px;
  }

  .main-grid {
    --rows: 2;
    --cols: 3;
    --max-img-height: 100vh;
  }

  .hGallery h2 {
    font-size: 12px;
  }

  .hGallery li.dustJacketText {
    width: 9em;
    min-width: 9em;
    font-size: 12px;
  }

  .hGallery li.dustJacketText h2 {
    font-size: 13px;
    margin: 3px 0;
  }

  .hGallery li.dustJacketText h3 {
    font-size: 12px;
  }

  .hGallery li.dustJacketText {
    height: calc(100vh - 60px - 2.5ex);
  }

  .hGallery li div.img {
    height: 340px;
    height: 50vw;
    max-height: calc(100vh - 90px - 90px);
  }

  .hGallery li img {
    height: 340px;
    height: 50vw;
    max-height: calc(100vh - 90px - 90px);
  }

  #ScrollArrow {
    padding: 9px 0;
  }

  .hGallery.wall li img {
    height: 50vw;
  }

  .wall li:first-child {
    position: absolute;
    right: 51vw;
  }

  .wall li:last-child {
    position: absolute;
    left: 50.5vw;
    display: flex;
    height: 50vh;
    max-height: calc(100vh - 90px - 10px);
    margin-top: 15px;
  }

  .wallLabel {
    width: 10em;
    align-self: flex-start;
  }

  .wallLabel p {
    font-size: 12px;
  }

  .contact {
    flex-direction: column;
  }

  .contact .text {
    padding: 2em 2em 0;
  }

  .contact img {
    height: 80vw;
  }

  footer.copyright {
    left: 5px;
    font-size: 8px;
  }

  main > header {
    max-width: 100vw;
    margin-left: 2em;
    margin-right: 2em;
  }
}

@media (max-width: 700px) and (orientation: landscape) {
  h1,
  h1 a {
    font-size: 26.5px;
  }

  h2 {
    font-size: 13px;
  }

  body > header h2 {
    margin-left: 2px;
  }

  body > header {
    height: 56px;
  }

  .hGallery li div.img {
    height: 150px;
    height: 50vw;
    max-height: calc(100vh - 90px - 10px);
  }

  .hGallery li img {
    height: 150px;
    height: 50vw;
    max-height: calc(100vh - 90px - 10px);
  }

  .hGallery li.dustJacketText {
    height: calc(100vh - 60px - 2.5ex);
  }

  .hGallery li.dustJacketText h2 {
    margin: 5px 0px;
  }

  header hgroup {
    padding: 0.15em 0.6em 0 10px;
  }

  footer.copyright,
  footer.options {
    bottom: 5px;
    font-size: 10px;
  }

  footer.copyright {
    /*  left: 12.5em;*/
    font-size: 8px;
    bottom: 0px;
  }

  footer.options {
    right: 5px;
  }

  .wallLabel {
    width: 15em;
  }
}

@media (max-width: 700px) {
  h1,
  h1 a {
    font-size: 32px;
  }

  h2 {
    font-size: 17.6px;
  }

  h3 {
    font-size: 16px;
  }

  header nav {
    display: block;
    width: 360px;
    clear: both;
    padding: 0.5em 0;
    font-size: 16px;
  }

  header nav ul {
    margin: 0 0 0 1.25em;
  }

  header nav {
    font-size: 14px;
  }

  .hGallery li h2 {
    font-size: 12px;
  }

  .hGallery {
    height: 70vw;
  }

  .hGallery li {
    height: 70vw;
  }

  .hGallery li div.img {
    height: 70vw;
  }

  .hGallery li img,
  .hGallery li iframe {
    height: 70vw;
  }

  .hGallery li iframe {
    width: min(calc(70vw / 9 * 16), calc((100vh - 90px - 90px) / 9 * 16));
  }

  .hGallery li.dustJacketText {
    height: calc(100vh - 100px - 2.5ex);
  }
}

@media (max-width: 400px) {
  .main-grid {
    --cols: 2;
    --rows: 3;
  }
}
